/* COLORS*/
$gray-0: #ffffff;
$gray-25: #f9f9f9;
$gray-50: #b0b0b0;
$gray-75: #2a2a2a;
$gray-100: #000000;

$indigo-50:#3f51b5;
$indigo-75: #334299;

$color-background: $gray-25;
$color-lines: $gray-50;
$color-text: $gray-75;
$color-main-text: $gray-100;
$color-border: $gray-50;
$color-border-hover: $gray-100;
$color-border-focus: $indigo-50;
$color-shadow: rgba($gray-100, .05);


/* SPACES */
$space-xs: 0.5em;
$space-sm: 1em;
$space-md: 2em;
$space-lg: 4em;

/* BORDER */
$border-sm: solid 1px $color-border;

/* RADIUS */
$radius-sm: 4px;
$radius-md: 8px;

/* FONT-SIZES */
$font-size-xs: .75em;
$font-size-sm: 1em;
$font-size-md: 1.4em;

/* SHADOWS */
$shadow-sm: 0 0 1.4em $color-shadow, 0 0 1.4em $color-shadow;

/* BREAK-POINTS */
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;