<main class="main">
  <section class="main__header">
    <app-filters></app-filters>
    <mat-paginator class="main__header__pagination" [attr.data-cards-length]="filteredCards.length" [attr.data-page]="paginationArguments.page"  [length]="filteredCards.length" [pageSize]="defaultPageSizeOption" [pageSizeOptions]="pageSizeOptions"
    (page)="setPage($event)"></mat-paginator>
  </section>

  <cdk-virtual-scroll-viewport class="virtual-scroll" itemSize="575">
    <section class="main__content">
      <app-card *cdkVirtualFor="let card of filteredCards | pagination:paginationArguments; let i = index" [data]="card"></app-card>
    </section>
  </cdk-virtual-scroll-viewport>
</main>