<section class="scroll__header">
    <app-filters></app-filters>
</section>

<cdk-virtual-scroll-viewport class="virtual-scroll" itemSize="575">
    <section class="scroll__content"  [attr.data-cards-length]="filteredCards.length">
    <ng-container *ngIf="filteredCards.length; else noItems">
        <app-card *cdkVirtualFor="let card of filteredCards; let i = index" [data]="card"></app-card>
    </ng-container>
    <ng-template #noItems>
        <article class="scroll__content__no-items">
        No items found.
        </article>
    </ng-template>
    </section>
</cdk-virtual-scroll-viewport>
