@import 'variables.scss';

:host {
    flex: auto;
    min-width:36em;
    display: flex;
    flex-direction: column;
    
    .virtual-scroll {
        display: flex;
        flex: auto;
        background: $color-background;

    }
}

.scroll {
    &__header {
        position: sticky;
        padding: $space-sm;
        border-top: $border-sm;
        border-bottom: $border-sm;
        display: flex;
        gap: $space-sm;
        justify-content: center;
        @media screen and (min-width: $screen-lg) {
            justify-content: flex-start;
        }        
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: $space-md;
        align-items: center;
        padding: $space-lg;

        &__no-items {
            padding: $space-lg;
            font-size: $font-size-md;
            color: $color-text;
        }
    }

}
